.reader_design{
        width: 100%;
        max-width: 850px;
        margin: 0 auto;


        select{
                border: 1px solid #eee;
                padding: 10px 15px;
                outline: none;
                margin: 20px auto;

                option{
                        font-size: 15px;
                        padding: 10px 15px;
                }
        }
}